html {
    background-color: blue;
}

.d {
    color: #a1c7b6;
    font-family: 'Turret Road', cursive;
}

.a {
    color: #EE352E;
    font-family: 'Itim', cursive;
}

.l {
    color: Green;
}

.f {
    color: Yellow;
}